:root {
    --blue-color: #2C6789;
    --blue-color-2: #3A91C1;
    --blue-color-3: #13447B;
    --blue-color-4: #88BEDC;
    --blue-color-5: #288DFF;
    --blue-color-transparent: rgba(60, 113, 216, 0.1);
    --gray-color: #333333;
    --gray-color-2: #666666;
    --black-color: #222222;
    --black-color-2: #1E2833;
    --green-color: #7AB55C;
    --yellow-color: #EBBB29;
    --font-merriweather: 'Merriweather', serif;
    --font-antonio: 'Antonio', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    input {
        width: 100%;
        border: 1px solid var(--brown-color);
        outline: none;
        padding: 8px 16px;
    }
    a {
        text-decoration: none;
    }
}

.header {
    top: 20px;
    z-index: 1;
    border-radius: 20px;
    background: white;
    box-shadow: 0 0 20px 0px rgba(23, 50, 97, 0.3);
    &__logo {
        width: 71px;
    }
    &__menu {
        li {
            margin: 0 20px;
            &:not(:first-child) {
                list-style-type: disc;
                padding-left: 12px;
            }
        }
    }
    .mobile {
        .menu {
            ul {
                box-shadow: 0 0 20px 0px rgba(23, 50, 97, 0.3);
                top: 150%;
            }
        }
    }
}

.footer {
    &__logo {
        width: 50%;
        @media (max-width: 576px) {
            width: 100%;
        }
        p {
            line-height: 18px;
        }
    }
    &__wetrip {
        p, li {
            line-height: 36px;
        }

        li {
            &:hover {
                color: var(--blue-color);
            }
        }
    }
    &__follow-us {
        p, li {
            line-height: 36px;
        }

        li {
            &:hover {
                color: var(--blue-color);
            }
            i {
                display: inline-block;
                width: 28px;
            }
        }
    }
}

.home {
    &__banner {
        &--img {
            max-width: 1920px;
            min-height: 400px;
            img {
                object-fit: cover;
                min-height: 400px;
            }
        }
        &--description {
            h5 {
                font-size: 48px;
                margin-bottom: 24px;
            }
            p {
                font-size: 26px;
                margin-bottom: 32px;
            }
            button {
                font-size: 20px;
                border-radius: 30px;
                border: 1px solid #fff;
            }
            @media (max-width: 992px) {
                h5 {
                    font-size: 32px;
                }
                p {
                    font-size: 20px;
                }
                button {
                    font-size: 18px;
                }
            }
            @media (max-width: 576px) {
                h5 {
                    font-size: 24px;
                }
                p {
                    font-size: 16px;
                }
                button {
                    font-size: 14px;
                }
            }
        }
    }
    &__why-us {
        &--title {
            h4 {
                padding: 0 200px;
                @media (max-width: 768px) {
                    padding: 0 100px;
                }
            }
        }
        &--description {
            border-radius: 20px;
            line-height: 32px;
        }
        &--explore {
            .title {
                h4 {
                    font-size: 60px;
                    @media (max-width: 768px) {
                        font-size: 48px;
                    }
                    @media (max-width: 576px) {
                        font-size: 32px;
                    }
                }
            }
            .description {
                p {
                    line-height: 28px;
                }
            }
        }
    }
    &__story {
        &--content {
            p {
                line-height: 28px;
                margin-top: 12px;
            }
        }
    }
    &__favorite {
        &--slider {
            .slide {
                .slider-item {
                    height: 360px;
                    img {
                        border-radius: 20px;
                        filter: blur(4px);
                        object-fit: cover;
                    }
                    transform: scaleY(0.7);
                    &.slick-active {
                        transform: scaleY(1);
                        img {
                            filter: blur(0px);
                        }
                        @media (max-width: 992px) {
                            transform: scale(1);
                        }
                    }
                    .detail {
                        bottom: 20%;
                        z-index: 1;
                        border-radius: 10px;

                        background: rgba(26, 26, 26, 0.7);
                    }
                }
            }
            .prev-btn {
                left: 20px;
            }
            .next-btn {
                right: 20px;
            }
            .prev-btn, .next-btn {
                color: #fff;
                border: 1px solid #fff;
                background: rgba(255, 255, 255, 0.3);
                padding: 6px 10px;
                border-radius: 50%;
                &:hover {
                    color: var(--black-color);
                    border: 1px solid var(--green-color);
                    background: var(--green-color);
                }
            }
        }
    }
    &__selling {
        &--content {
            .price {
                background: linear-gradient(to right, var(--green-color) , var(--blue-color));
                border-radius: 0 0 20px 20px;
            }
            .details {
                width: max-content;
                background: rgba(33, 33, 33, 0.7);
                border-radius: 20px;
                p {
                    line-height: 28px;
                }
            }
        }
    }
    &__affiliate {
        &--saying {
            .stars {
                color: #FFA800;
            }
            .details {
                p:first-child {
                    line-height: 28px;
                }
            }
        }
        &--our {
            .type {
                background: linear-gradient(to right, rgba(105, 123, 143, 0), rgba(105, 123, 143, 0.1), rgba(105, 123, 143, 0));
            }
        }
    }
    &__contact {
        .form {
            input, textarea {
                border: none;
                border-bottom: 1px solid rgba(0,0,0,0.2);
                outline: none;
                &:focus {
                    box-shadow: none;
                }
            }
            textarea {
                height: 100px;
            }
            button {
                border-radius: 2px;
                p {
                    border-right: 1px solid #fff;
                }
            }
        }
        .type {
            background: linear-gradient(to bottom, rgba(105, 123, 143, 0), rgba(105, 123, 143, 0.1), rgba(105, 123, 143, 0));
            height: max-content;
            img {
                border-bottom: 1px solid rgba(0,0,0,0.1);
                width: 20px;
            }
        }
    }
}

.our-services {
    padding-top: 100px;
    &__info {
        &--description {
            width: 75%;
            border-radius: 20px;
            background: rgba(0, 113, 179, 0.05);
            padding: 24px 20px 36px 20px;
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
    &__content {
        &--theme {
            .tour-images {
                height: 820px;
                div {
                    height: 15%;
                    img {
                        object-fit: cover;
                        border-radius: 10px;
                    }
                    h6 {
                        bottom: 24px;
                        right: 24px;
                    }
                }
                .active {
                    height: 52%;
                }
            }
        }
    }
}

.viet-nam, .cambodia, .laos, .myanmar {
    &__destination {
        &--banner {
            min-height: 660px;
            object-fit: cover;
            @media (max-width: 768px) {
                min-height: 940px;
            }
        }
        &--info {
            span {
                background: rgba(13, 199, 177, 0.1);
                padding: 4px 10px;
                border-radius: 10px;
            }
            .images {
                img {
                    height: 240px;
                    object-fit: cover;
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding: 0 12px;
                    z-index: 1;
                    p {
                        border-radius: 20px;
                        background: rgba(0,0,0,0.3);
                        height: 100%;
                    }
                }
            }
        }
    }
    &__content {
        &--description {
            width: 70%;
            border-radius: 20px;
            background: rgba(0, 113, 179, 0.05);
            padding: 24px 48px 36px 48px;
            @media (max-width: 992px) {
                width: 90%;
            }
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
    &__favorite {
        &--controls {
            width: 63%;
            @media (max-width: 992px) {
                width: 90%;
            }
            @media (max-width: 768px) {
                width: 100%;
            }
            span {
                color: #bdbdbd;

            }
            .active {
                color: var(--green-color);
                background: #F2F2F2;
            }
        }
        &--slider {
            .slide {
                .slider-item {
                    height: 360px;
                    img {
                        border-radius: 20px;
                        filter: blur(4px);
                        object-fit: cover;
                    }
                    transform: scaleY(0.7);
                    &.slick-active {
                        transform: scaleY(1);
                        img {
                            filter: blur(0px);
                        }
                        @media (max-width: 992px) {
                            transform: scale(1);
                        }
                    }
                    .detail {
                        bottom: 20%;
                        z-index: 1;
                        border-radius: 10px;

                        background: rgba(26, 26, 26, 0.7);
                    }
                }
            }
            .prev-btn {
                left: 20px;
            }
            .next-btn {
                right: 20px;
            }
            .prev-btn, .next-btn {
                color: #fff;
                border: 1px solid #fff;
                background: rgba(255, 255, 255, 0.3);
                padding: 6px 10px;
                border-radius: 50%;
                &:hover {
                    color: var(--black-color);
                    border: 1px solid var(--green-color);
                    background: var(--green-color);
                }
            }
        }
        &--control-other {
            div {
                border-top: 1px solid rgba(204, 204, 204, 0.5);
            }
            button {
                color: #344054;
                border: 1px solid rgba(204, 204, 204, 0.5);
                &:hover {
                    background: #eee;
                }
            }
        }
    }
}

.contact-us {
    padding-top: 100px;
    &__info {
        .wetrip {
            background: rgba(13, 199, 177, 0.1);
        }
        .line {
            width: 50%;
            height: 1px;
            @media (max-width: 768px) {
                width: 80%;
            }
            background: linear-gradient(to right, rgba(255,255,255, 0.1) , #ccc, rgba(255,255,255, 0.1));
        }
        &--affiliate {
            .type {
                background: linear-gradient(to right, rgba(105, 123, 143, 0), rgba(105, 123, 143, 0.1), rgba(105, 123, 143, 0));
            }
        }
    }
    &__contact {
        .form {
            input, textarea {
                border: none;
                border-bottom: 1px solid rgba(0,0,0,0.2);
                outline: none;
                &:focus {
                    box-shadow: none;
                }
            }
            textarea {
                height: 100px;
            }
            button {
                border-radius: 2px;
                p {
                    border-right: 1px solid #fff;
                }
            }
        }
        .type {
            background: linear-gradient(to bottom, rgba(105, 123, 143, 0), rgba(105, 123, 143, 0.1), rgba(105, 123, 143, 0));
            height: max-content;
            img {
                border-bottom: 1px solid rgba(0,0,0,0.1);
                width: 20px;
            }
        }
    }
}
